app/cache/*
app/database/*
/files/*
/thumbs/
composer.phar
.DS_Store
._.DS_Store
.idea
__*
.__*
web
Vagrantfile
.vagrant*
scrutinizer.phar
php-cs-fixer.phar
*.sublime-*
.*.swp
/tags
.swp
*.lock
tests/_log
tests/*/*Guy.php
.buildpath
.project
app/view/config.codekit
app/view/.sass-cache
app/view/node_modules
/bolt.log
app/config/config_local.yml
