{#
  used in:
    - record_job
    - listing_list
#}

{% if record.department %}
<span class="item-department">
    <svg class="icon icon-users">
        <use xlink:href="#icon-users"></use>
    </svg>
    {{ record.department }}
</span>
{% endif %}

