{#
  used in:
	- record_blogpost
	- record_job
	- record_person
	- record_event
	- listing_list
#}
{% if records %}
<ul class="item-files">

	{% for file in records %}
	{# 
		todo: check bolt file option or save values after saving contenttype "job"
			- file_size?
			- file_format?
	#}
	<li><a href="{{ paths.root }}files/{{ file.filename }}">{{ file.title }} <span class="file-info"></span></a></li>
	{% endfor %}
</ul>
{% endif %}

