{#
  used in:
	- record_blogpost
	- record_job
	- record_person
	- record_event
	- listing_list
#}
{% if records %}
<ul class="item-files">

	{% for file in records %}
	
	{% set finfo = fileinfo(file) %}
	
	<li><a href="{{ paths.files }}{{ file.filename }}">{{ finfo.filename }} <span class="file-info"></span></a></li>
	{% endfor %}
</ul>
{% endif %}

