{#
  used in:
      - record_blogpost
      - record_publication
      - listing_listing
      - listing_search_results
#}
{% if record.relation.persons is defined %}
    {% setcontent authors = 'persons' where {id: record.relation.persons|join(' || ')} orderby 'last_name' %}
    {# be sure to have an array #}
    {% if authors is not iterable %}
        {% set authors = [authors] %}
    {% endif %}
    <span class="author-name">Author:
    {% for person in authors %}
        <a href="{{ structurelink(person) }}">{{person.first_name}} {{person.last_name}}</a>{% if (not loop.last) %},{% endif %}
    {% endfor%}
    </span>
{% endif %}