{#
  used in:
    - record_job
    - listing_list
#}

{% if record.relation.locations is defined %}
    {% setcontent location = 'locations' where {id: record.relation.locations|first, order: 'title'  } returnsingle %}
    <span class="item-location">
        <svg class="icon icon-location">
            <use xlink:href="#icon-location"></use>
        </svg>
        {% set geolocation = location.geolocation.formatted_address|split(',') %}
        {# city #}
        {{ geolocation[1] }},
        {# country #}
        {{ geolocation|last }}
    </span>
{% endif %}

