{#
  used in:
  	- record_blogpost
  	- record_publication
  	- listing_listing
#}
{% if records %}
	{# be sure to have an array #}
	{% if records is not iterable %}
		{% set records = [records] %}
	{% endif %}
	<span class="author-name">Author: 
	{% for person in records %}
				<a href="{{ person.link }}">{{person.first_name}} {{person.last_name}}</a>{% if (not loop.last) %},{% endif %}
	{% endfor%}
	</span>
{% endif %}