{#
  used in:
	- record_publication
	- record_event
	- generic
#}
{% if filelist %}
<ul class="item-files moredata">
	{% for file in filelist %}
	<li>
		<span class="file-name">
			<a href="#">{{ file.filename }}</a>
			<span class="file-info">{ file.type } { file.size }</span>
		</span>
		
		<span class="file-owner">{ file-owner.first ? } { file-owner.last ? }</span>
		<span class="file-date">{ day.long }/{ month.digit }/{ year.long }</span>
	</li>
	{% endfor %}
</ul>
{% endif %}

