<!-- start .nav-->
<nav id="nav" class="nav_primary nav">
    <ul class="nav-list">
        {% set slugs = paths.currenturl|split('/') %}
        {% for item in menu %}
        <li>
            {% if ( item.path|slice(1, item.path|length) in slugs) %}
                <a class="current" href="{{ item.link }}">{{item.label}}</a>
            {% else %}
                <a href="{{ item.link }}">{{item.label}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
<!-- end .nav-->