{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

			<div class="l-breadcrumbs">
				{% include 'items/_item-breadcrumb.twig' %}
			</div>

			<div class="maincontent">

				<h1 class="title">Who works at Europeana</h1>

				{% set curTeam = '' %}
				{% for record in records|order(record.team) if record.checkbox_europeana  %}
					{% if record.team != curTeam %}
						<div class="team">
							<h2>{{ record.team }}</h2>
							{% set curTeam = record.team %}
							<ul class="results-list"><!--
							-->{% for person in records if record.team == person.team  %}<li>{% include 'items/_item-person-list.twig' with { record: person} %}</li>{% endfor %}<!--
						--></ul>
						</div>
					{% endif %}
				{% endfor %}
				
				{{ pager('persons') }}

			</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">

	 			{% setcontent contacts = 'persons' where { contact_staff : '1' } orderby 'datepublish'  %}
	 			{% include 'items/_item-help.twig' with { records: contacts} %}
				
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->



{% include '_footer.twig' %}

