{% include '_header.twig' %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            {% if searchresults is empty %}
                {% include 'listing_search_zeroresults.twig' %}
            {% else %}
                {% include 'listing_search_results.twig' %}
            {% endif -%}
    </div><!--

     --><div class="l-sidebar">
            <div class="inner">
			</div>
        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig' %}

