{% include '_header.twig' %}

{# set order #}
{% set order = contenttype['sort'] %}
{% if app.request.get('order') %}
    {% set order = app.request.get('order') %}
{% endif %}

{# set page number #}
{% set page = app.request.get('page', 1) %}

{# set amount #}
{% if contenttype['listing_records'] is defined %}
    {% set amount = contenttype['listing_records'] %}
{% else %}
    {% set amount = app.config.get('general/listing_records') %}
{% endif %}

{% if records|length %}

    {# show/hide sortby item and pager #}
    {% set showsortby = false %}

    {# default list views #}
    {% if record is not defined %}

        {# tags #}
        {% if taxonomy is defined %}
            {% set showsortby = false %}
            {% set contenttype = taxonomy %}

        {% else %}
            {% set contenttype = getContenttype(records|first.contenttype.name) %}
            {% set showsortby = true %}
            {% set contenttypePager = contenttype['slug'] %}
        {% endif %}

    {# structure content #}
    {% elseif contenttype['name'] is defined %}
        {% if (contenttype['slug'] in app.config.get('general/sort_options/disabled')|keys ) %}
            {% set contenttypePager = contenttype['slug'] %}
            {% set showsortby = true %}
        {% endif %}
    {% endif %}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}

                {# hide sortby template for tag- and structure listing #}
                {% if showsortby %}
                    {% include 'items/_item-sortby.twig' %}
                {% endif %}
            </div>

        <div class="maincontent">

                {% if (contenttype.slug in ['blogposts', 'events', 'publications', 'pressreleases']) %}
                <div class="item-rss">
                    <a href="/{{contenttype.slug}}/rss/feed.xml">
                        <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg> 
                        RSS feed
                    </a>
                </div>
                {% endif %}

                <div class="results">

                {# show title and intro for structrure listview #}
                {% if record is defined %}
                <div class="page-intro">

                     <h1 class="title">{{ record.title }}</h1>
                     <p>{{ record.teaser|raw }}</p>
                </div>
                {% endif %}

                <ul class="results-list">

                    {# Bob notes: see related ticket #196, #198, #223.. What was patrick thinking when he made this?
                        Just grab the blog-postings again on this page.. #}
                    {% if showsortby and taxonomy is not defined and contenttype.slug == "blogposts" %}
                        {% if "Europeana Cloud" in record.taxonomy.tree %}

                            {# Europeana Cloud blog posts. #}
                            {% setcontent records = record.content where { limit : amount, order : order, page : page, tree: "Europeana Cloud Blog" } allowpaging %}

                        {% elseif "Europeana Creative" in record.taxonomy.tree %}

                            {# Europeana Cloud blog posts. #}
                            {% setcontent records = record.content where { limit : amount, order : order, page : page, tree: "Europeana Creative Blog" } allowpaging %}

                        {% else %}

                            {# all blog posts. #}
                            {% setcontent records = 'BlogPosts' where { limit : amount, order : order, page : page } allowpaging %}

                        {% endif %}
                    {% endif %}


                    {% for listItem in records %}
                        {% include 'items/_item-list.twig' with { record: listItem } %}
                    {% endfor %}
                    
                </ul>

                {% if pager is defined or taxonomy is defined %}
                    {{ pager() }}
                {% endif %}


            </div>

        </div>
        </div><!--

     --><div class="l-sidebar">
             <div class="inner">
                 {#
                     get main contacts. definied in contenttype 'person'
                     example: field "contact_blog" -> main contact of the blogposts
                 #}

                 {% if ( record.relation.persons is defined and record.relation.persons|length ) %}
                     {% setcontent contacts = 'persons' where { id: record.relation.persons|join(' || ') } orderby 'last_name' %}
                     {% if( contacts|length and contacts is not iterable) %}
                         {% set contacts = [contacts] %}
                     {% endif %}
                     {% include 'items/_item-help.twig' with { records: contacts} %}
                 {% elseif contenttype.singular_slug is defined %}
                     {% set contacttype = ('contact_'~(contenttype.singular_slug))  %}
                     {% setcontent contacts = 'persons' where { (contacttype) : 1 } orderby 'last_name'  %}
                     {% if( contacts|length and contacts is not iterable) %}
                         {% set contacts = [contacts] %}
                     {% endif %}
                     {% include 'items/_item-help.twig' with { records: contacts} %}
                 {% endif %}

            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% endif %}

{% include '_footer.twig' %}

