{% include '_header.twig' %}


{# set records by structureset #}
{% if structureset %}
	{% set records = structureset %}

{# set records by tags #}
{% elseif ('/tags/' in app.request.pathInfo) %}
	{# % set sortoption = app.request.get('order') % #}
	{% setcontent records = '(blogposts, events, publications, pages)' where { tags: slug } limit app.config.get('general/listing_records') allowpaging %}
	{# set records by contenttype #}
{% elseif records is empty %}
	{# 
		get records for contenttype. limit must be definied to enable pagination.
		contenttypes:
			- jobs
			- blogposts
			- publications
			- events
	#}
	{% setcontent records = records|first.contenttype.slug limit app.config.get('general/listing_records') allowpaging %}
	{% set showsortby = true %}
	{% set contenttypePager = records|first.contenttype.slug %}
	
{# % elseif % #}
	
{% endif %}


<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

			<div class="l-breadcrumbs">
				{% include 'items/_item-breadcrumb.twig' %}
				
				{# hide sortby template for tag- and structure listing #}
				{% if showsortby %}
					{% include 'items/_item-sortby.twig' %}
				{% endif %}
			</div>

		<div class="maincontent">

			<div class="results">

				<ul class="results-list">
					{% for listItem in records %}
						{% include 'items/_item-list.twig' with { record: listItem } %}
					{% endfor %}
				</ul>
				
				{{ pager(contenttypePager) }}

			</div>
			
			

		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">
	 			{#
	 				get main contacts. definied in contenttype 'person'
	 				example: contact_blog -> main contact of the blog
	 			#}
	 			{% set contacttype = ('contact_'~(records|first.contenttype.singular_slug))  %}
	 			{% setcontent contacts = 'persons' where { (contacttype) : 1 } orderby 'last_name'  %}
	 			{% include 'items/_item-help.twig' with { records: contacts} %}
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig' %}

