{% include '_header.twig' %}


{% if records|length %}

	{# show/hide sortby item #}
	{% set showsortby = false %}
	
	{# set contenttype für default records and structures #}
	{% if not contenttype['name'] is defined %}
		{% set contenttype = records|first.contenttype %}
	{% endif %}
	{# set sortby option and pager with exceots contenttypes without sort options #}
	{% set contenttypeexception = ['Structures', 'Persons', 'Pages'] %}
	{% if (contenttype['name'] not in contenttypeexception and taxonomy is not defined ) %}
		{# show pager #}
		{% set contenttypePager = contenttype['slug'] %}
		{# show showsortby #}
		{% set showsortby = true %}
	{% endif %}


<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid-main">

		<div class="l-content">

			<div class="l-breadcrumbs">
				{% include 'items/_item-breadcrumb.twig' %}
				
				{# hide sortby template for tag- and structure listing #}
				{% if showsortby %}
					{% include 'items/_item-sortby.twig' %}
				{% endif %}
			</div>

		<div class="maincontent">
		
			<div class="results">

				<ul class="results-list">
					{% for listItem in records %}
						{% include 'items/_item-list.twig' with { record: listItem } %}
					{% endfor %}
				</ul>
				
				{% if showsortby %}
					{{ pager(contenttypePager) }}
				{% endif %}
			</div>

		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">
	 			{#
	 				get main contacts. definied in contenttype 'person'
	 				example: contact_blog -> main contact of the blog
	 			#}
	 			{% if ( record is defined and record.relation|length ) %}
		 			{% setcontent contacts = 'persons' where { id: record.relation.persons|join(' || ') } orderby 'last_name' %}
		 			{% if( contacts|length and contacts is not iterable) %}
		 				{% set contacts = [contacts] %}
		 			{% endif %}
	 				{% include 'items/_item-help.twig' with { records: contacts} %}
		 		{% else %}
	 				{% set contacttype = ('contact_'~(records|first.contenttype.singular_slug))  %}
	 				{% setcontent contacts = 'persons' where { (contacttype) : 1 } orderby 'last_name'  %}
	 			{% endif %}
	 			
	 			
	 			
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->

{% endif %}

{% include '_footer.twig' %}

