{% include '_header.twig' %}

{% set blogpost = record %}
{% set authors = blogpost.related('persons') %}
{% set contacts = record.related('person') %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

        <div class="l-breadcrumbs">
            {% include 'items/_item-breadcrumb.twig' %}
        </div>

        <article class="maincontent">
            <div class="textcontent">

                <div class="articleheader">

                    <h1 class="title">{{ blogpost.title }}</h1>

                    <div class="item-meta-primary">

                        {# set authors #}
                        {% if authors %}
                            {% include 'items/_item-author.twig' with {records : authors} %}
                        {% endif %}

                        {# set readtime #}
                        {#  todo: where did that came from? -> update contenttype "blogpost" #}
                        {% include 'items/_item-readtime.twig' %}

                    </div>

                    <div class="item-meta-secondary">
                        {# set date #}
                        {% include 'items/_item-date.twig' %}

                        {# set tags #}
                        {% include 'items/_item-tags.twig' %}

                        {# set discus comments #}
                        {% include 'items/_item-comments-link.twig' %}
                    </div>

                </div>

                <div class="prose">
                    {{ blogpost.body|raw }}
                </div>
            </div>

            {# set Downloads #}
            {% if record.attachments %}
            <div class="downloads section files">
                <h2>{{ record.contenttype['fields']['attachments'].label }}</h2>
                {% include 'items/_item-filelist.twig' with { records : record.attachments } %}
            </div>
            {% endif %}

            <div id="sharethis">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' st_via='EuropeanaEU Professional' displayText='Tweet'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </div>

            {# related content #}
            {% include 'items/_item-related.twig' with {title: "You might also like:", short: false} %}

            <aside>
                {% include 'items/_item-comments.twig' %}
            </aside>


        </article>
        </div><!--

     --><div class="l-sidebar">
            <div class="inner">

                {# set author #}
                {% include 'items/_item-help.twig' with { records: contacts } %}

            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->


{% include '_footer.twig' with { sharethis: true} %}

