{% include '_header.twig' %}

{% import 'macros/_helper.twig' as helper %}

{% set contacts = record.related('persons') %}

{# set 'global' structures for path generating page and structures #}
{% setcontent STRUCTURES = 'structures' %}


{# get sub pages by taxonomyslug #}
{% setcontent pages = 'pages' where { structures: record.group.slug } %}

{# get sub structures by parentID #}
{% setcontent structures = 'structures' where { parent: record.id } orderby 'position' %}
                
{# merge pages and structures #}
{% set allChilds = pages|merge(structures)  %}
                
{# order contenttyes manually 
	- pages are ordered by group (has_sortorder)
	- structures orded by field "postion". -> elements with postition "automatic" at least in array
	- has_sortorder <->  postion
#}
{% set childs = [] %}
{% for page in pages %}
	{% for structure in structures %}
		{% if loop.parent.loop.index == structure.position  %}
			{% set childs = childs|merge([structure]) %}
        {% endif %}
  	{% endfor %}
    {% set childs = childs|merge([page]) %}
    {# move not sorted strucutres with position "automatic" at the end #}
    {% if loop.last %}
    	{% set notSorted = (pages|length + structures|length) - childs|length %}
    	{% set childs = childs|merge(structures|slice(0,notSorted) ) %}
    {% endif %}
{% endfor %}
                

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">
        
        	

            <div class="l-breadcrumbs">
				{% include 'items/_item-breadcrumb.twig' %}
			</div>

            <div class="maincontent">

                <div class="page-intro">
                    <h1 class="title">{{ record.title }}</h1>
                    <p>{{ record.teaser|raw }}</p>
                </div>

				<ul class="l-next_options"><!--
             -->{% for child in childs %}<!--
                -->{% include 'items/_item-lineblock.twig' with {child : child} %}<!--
             -->{% endfor %}
                </ul>
                {#
                <div class="section-sitemap">
                
                <div class="l-section-sitemap">
                	{% include 'items/_item-linklist.twig' with {record : "Join the Network"} %}<!--
                 -->{% include 'items/_item-linklist.twig' with {record : "Provide data"} %}<!--
                 -->{% include 'items/_item-linklist.twig' with {record : "Re-use data"} %}
                </div>
               
                </div>
 				#}
            </div>
        </div><!--

     --><div class="l-sidebar">
            <div class="inner">
				{% include 'items/_item-help.twig' with { records: contacts, title: "Need help?",  use_secondary_mail: record.secondary_mail } %}
            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig' %}
