{% include '_header.twig' %}


<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

    <div class="l-content">

        <div class="l-breadcrumbs">
            {% include 'items/_item-breadcrumb.twig' with {name: 'Sitemap' } %}
        </div>


        <div class="maincontent">

            <h1>{{ __('Sitemap') }}</h1>


            <ul>
            {% for entry in entries %}
                {% if entry.link is defined %}
                  <li><a href="{{ structurelink(entry)|default(entry.link) }}">{{ entry.title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>

        </div>

    </div>
</div>
</main>

{% include '_footer.twig' %}
