{% include '_header.twig' %}

{# get contenttype of assigned content by slug #}
{% set contenttype = structurecontenttype(record.slug) %}

{% set records = sortRecords(getTreeChildren(record), ['structure_sortorder', 'slug']) %}

{% set contacts = record.related('persons') %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">
        <div class="l-content">

            <div class="l-breadcrumbs">
                {% include 'items/_item-breadcrumb.twig' %}
            </div>

            <div class="subsite-banner" style="background-image: url('{{ paths.root ~ 'files/' ~ record.image }}')"></div>

            <div class="maincontent">


                <div class="page-intro">
                    <h1 class="title">{{ record.title }}</h1>
                    <p>{{ record.teaser }}</p>
                </div>

                {% if records|length %}
                <ul class="l-next_options"><!--
             -->{% for record in records if (record.hide_list != 1) %}<!--
                -->{% include 'items/_item-lineblock.twig' with {child : record} %}<!--
             -->{% endfor %}
                </ul>
                {% endif %}

            </div>
        </div><!--

     --><div class="l-sidebar">
            <div class="inner">
                <div class="inner">
                    {% include 'items/_item-help.twig' with { records: contacts, title: "Need help?",  use_secondary_mail: record.secondary_mail } %}
                </div>
            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->

{% include '_footer.twig'  %}
